@charset "UTF-8";
* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 14px;
}

body {
  background: $bg-color;
  color: $base-text-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'MS PGothic', 'MS Pゴシック', sans-serif;
  line-height: 1.7;
}

a {
  color: $link-color;
  &:hover, &:visited {
    color: $link-color;
    text-decoration: underline;
  }
}

.main {
  section {
    padding: $section-margin 0;
    .container {
      padding: 0 $base-margin;
    }
  }
  h2 {
    margin: 0;
    margin-bottom: $base-margin * 0.7;
    color: $base-text-color;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
  }
}
