#faq {
  background-image: url("../images/background.png");
  color: #f5f7ff;
  h2 {
    color: inherit;
  }
  .container {
    max-width: 800px;
    h3 {
      font-size: 1.3rem;
      font-weight: bold;
    }
    p {
      font-size: 1rem;
      color: #dddff4;
    }
  }
}

@media screen and (max-width: 767px) {
  #faq {
    .container {
      text-align: center;
    }
  }
}


