@charset 'UTF-8';
.jumbotron {
  margin-bottom: 0;
  padding: $base-margin * 3 $base-margin * 0.5;
  color: $white-text-color;
  background: $theme-color;
  text-align: center;
  h1, h2, h3 {
    margin: 0;
    padding: 0;
    line-height: 1.1;
  }
  h2 {
    margin-bottom: $base-margin * .5;
    text-transform: uppercase;
  }
  h1 {
    margin-bottom: $base-margin;
    font-size: 8rem;
    line-height: 1;
  }
  h3 {
    margin-bottom: $base-margin;
    font-size: 1.5rem;
    font-weight: normal;
  }
  .social-buttons{
    margin-bottom: $base-margin * .5;
    margin-left: -35px;
    ul {
      display: table;
      margin: 0 auto;
      list-style: none;
      li {
        float: left;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
      .twitter {
        width: 100px !important;
      }
      .facebook {
        .fb_iframe_widget * {
          vertical-align: top !important;
        }
      }
    }
  }
  p {
    margin: 0;
  }
  .btn-more {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    max-width: 250px;
    background: $accent-color;
    border-color: $accent-color;
    border-radius: 0;
    color: $white-text-color;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    @include box-sizing(border-box);
    @include transition-duration(0.3s);
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }
  .round {
    border-radius: 3px;
  }
}


@media screen and (max-width: 500px) {
  .jumbotron {
    padding-top: $base-margin * 2;
    padding-bottom: $base-margin * 2;
    h2 {
      font-size: 1.8rem;
    }
    h1 {
      margin-bottom: $base-margin * .8;
      font-size: 5rem;
    }
    h3 {
      font-size: 1.2rem;
      line-height: 1.3;
    }
  }
}

@media screen and (max-width: 319px) {
  .jumbotron {
    h1 {
      font-size: 4rem;
    }
  }
}
