@charset 'UTF-8';
#place {
  background: url('./../images/background.png');
  .container {
    padding: 0 $base-margin;
    max-width: 760px;
    h2 {
      color: $white-text-color;
    }
    p {
      margin-bottom: $base-margin;
      color: $white-text-color;
      text-align: center;
    }
    #map {
      width: 100%;
      height: 250px;
    }
  }
}
