@charset "UTF-8";
#registration {
  background: url('./../images/background.png');

  color: #fff;
  text-align: center;
  .registration-btn {
    display: block;
    margin: 0 auto;
    max-width: 230px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background: $accent-color;
    color: $white-text-color;
    font-weight: bold;
    outline: none;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in-out);
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }
}
