#registration {
  padding-bottom: $section-margin * 2 !important;
  background: $bg-color;
  text-align: center;
  .registration-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 230px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background: $accent-color;
    color: $white-text-color;
    font-weight: bold;
    outline: none;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in-out);
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }
}
