@charset 'UTF-8';
#requirements {
  background: $bg-gray;
  .container {
    padding: $base-margin * 0.5;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  table {
    margin: 0 auto;
    max-width: 800px;
    border-collapse: collapse;
    th {
      color: $white-text-color;
      background: $theme-color;
      text-align: center;
      vertical-align: middle;
      border-color: subtextcolor;
    }
    td {
      padding-left: 20px;
      color: $base-text-color;
      vertical-align: middle;
    }
    tr {
      background: white;
      &:nth-of-type(odd) {
        background: #f9fafb;
      }
    }
  }
}
