@charset "UTF-8";
#schedule {
  .container {
    padding: 0 30px;
    max-width: 800px;
    text-align: center;
    img {
      max-width: 100%;
    }
    .row {
      .schedule-slider {
        .day-schedule {
          float: left;
        }
      }
    }
  }
}
