@charset "UTF-8";
#sponsor {
  padding: 0;
  padding-bottom: $section-margin * 2;
  .container {
    max-width: 750px;
    text-align: center;
    h2 {
      margin-bottom: $base-margin * 1.5;
    }
    .row {
      a {
        display: block;
        img {
          display: table;
          margin: 0 auto;
        }
      }
      .supporterz {
        padding-top: 25px;
        img {
          width: 180px;
        }
      }
      .cyberagent {
        margin-right: 0;
        img {
          width: 130px;
        }
      }
      .cybozu {
        img {
          width: 130px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #sponsor {
    .container {
      h2 {
        margin-bottom: $base-margin;
      }
      .supporterz {
        padding-top: 0 !important;
        padding-bottom: $base-margin + 10;
      }
      .cyberagent {
        padding-bottom: $base-margin;
      }
    }
  }
}

