@charset "UTF-8";
#sponsor {
  padding: 0;
  padding-bottom: $section-margin * 2;
  .container {
    max-width: 450px;
    text-align: center;
    h2 {
      margin-bottom: $base-margin;
    }
    .row {
      a {
        display: block;
        img {
          display: table;
          margin: 0 auto;
        }
      }
      .supporterz {
        padding-top: 25px;
      }
      .cyberagent {
        margin-right: 0;
        img {
          width: 120px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .supporterz {
    padding-top: 0 !important;
    padding-bottom: $base-margin;
  }
}

