@charset "UTF-8";
$bg-color: #fff;
$bg-gray: #e5ebf0;
$theme-color: #5898ce;
$accent-color: #ee934b;
$base-text-color: #555;
$sub-text-color: #aaa;
$white-text-color: #fff;

$link-color: $theme-color;

// margin
$base-margin: 30px;
$section-margin: $base-margin * 2;
